{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "printWidth": 180,
    "singleQuote": false,
    "tabWidth": 4,
    "endOfLine": "auto",
    "trailingComma": "none",
    "semi": false,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
